:root {
  --main-color: #6d62fd;
}

$purple: #6d62fd;
$green: #18ce76;
$yellow: #fbb70b;
$red: #e84040;
$blue: #4bc1e2;
$brown: #cebca4;

$pri_dark: #353348;
$pri_grey: #a5a5bf;
$pri_clr: var(--main-color);
$white: #ffffff;
$black: #000000;
