// general styles
// CSS property reset

$global-transition: 250ms background-color linear, 180ms color linear,
  200ms border-color linear, 150ms transform linear;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $global-transition;

  &::selection {
    background-color: $pri_clr;
    color: $white;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: $pri_dark;
  margin: 0;
}

body {
  width: 100%;
  height: 200vh;
  font-size: 14.5px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.noselect {
  user-select: none;
}

// preloader
#preloader {
  background: $pri_clr url(../img/loading.svg) no-repeat center center;
  background-size: 10%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100000;
}

// button
.button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  font-family: inherit;
  color: $white;
  background-color: $pri_clr;
  border-radius: 6px;
  border: 1.5px solid transparent;
  transition: $global-transition;

  &:hover {
    transform: translateY(-4px);

    i {
      transform: translateX(4px);
    }
  }

  @include responsive_medium {
    padding: 7px 10px;
  }

  &-transparent {
    @extend .button;
    background-color: transparent;
    color: $pri_clr;
    border-color: $pri_clr;

    &:hover {
      background-color: $pri_clr;
      color: $white;
    }
  }
}

// container
.section-container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 45px 15px;

  @include responsive_large {
    padding: 25px 15px;
  }

  .section-label {
    text-transform: uppercase;
    color: $pri_clr;
    font-size: 16px;
    font-weight: 500px;
    line-height: 39.4px;
  }

  .section-title {
    text-transform: capitalize;
    font-size: 28px;
    line-height: 28px;

    @include responsive_medium {
      font-size: 24px;
      line-height: 25.7px;
    }
  }

  .section-subtitle {
    margin: 13px auto;
    max-width: 640px;
    font-size: 16px;
    line-height: 25.6px;
    color: $pri_grey;

    @include responsive_medium {
      font-size: 14px;
      line-height: 22px;
      margin: 10px auto;
    }
  }
}

// swiper slider
.swiper {
  height: 300px;
  cursor: context-menu;

  &:active {
    cursor: grab;
  }

  .swiper-pagination {
    &-bullet {
      background-color: $pri_grey;
      width: 15px;
      height: 5px;
      border-radius: 10px;
      opacity: 1;

      &-active {
        background-color: $pri_clr;
        width: 20px;
      }
    }
  }
}

// Back to Top
.back-to-top {
  @include flex(center, center);
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: $pri_clr;
  border: 2px solid $pri_clr;
  border-radius: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: transparent;

  i {
    font-size: 20px;
  }

  &:hover {
    background-color: $pri_clr;
    color: $white;
  }
}
